.promo__product {
  float: left;
  width: 683px;
  height: 683px;
}

.promo-product_1 {
  background-image: url(../img/promo-img1.jpg);
}

.promo-product_2 {
  background-image: url(../img/promo-img.jpg);
}

.promo-product__text {
  margin-top: 228px;
  margin-left: 50px;
}
