.promo2 {
  padding: 120px 98px;
}

.promo2__left {
  width: 570px;
  height: 570px;
  background-image: url(../img/product-1-lg.jpg);
  float: left;
}

.promo2__left-text {
  padding-top: 186px;
  margin-left: 31px;
}

.promo2__left-content {
  width: 332px;
}

.promo2__right {
  width: 570px;
  height: 570px;
  float: right;
}
