.trending {
  padding-top: 119px;
}

.trending__h2 {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  float: left;
}

.trending__link {
  float: right;
}

.trending__content {
  margin-top: 64px;
}
